body {
    background: linear-gradient(white, orange);
    background-repeat: no-repeat;
}
header {
    background-color: grey; 
}
img {
    position: inherit;
    margin-left: auto; 
    margin-right: auto; 
    
}
.pink1 {
    float: right;
    border-style: solid;
    border: 5px;  
}

.pink2 {
    float: left;
    border: 5px;
}