
body {
    color:white; 
}
div {
   background-color: black 
}
#red {
    background-color: red
}

#orange {
    background-color: orange
}

#yellow {
    background-color: yellow
}

#green {
    background-color: green
}

#blue {
    background-color: blue
}

rect {
   
   background: white; 
}

circle { 
 
  background: white;   
}
