th{
    font-size: 18pt;
}

table{
    border-spacing: 0 0;
}
td{
    font-size: 20pt;
    text-align: center;
    width: 4em;
    height:4em;
    border:1px solid black;
    
}


    
   
   
}
th{
    font-size: 26pt;
}